<!DOCTYPE html>
<html>
<head>
    <title>RD Podcast</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Um podcast ímpar para receber amigos, pessoas legais e você. Decidimos tudo de última hora, quase sempre ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/colorbox.css" rel="stylesheet" />
    <link href="~/Content/main_styles.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
 

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header trans_400">

            <!-- Logo -->
            <div class="logo">
                <a href="#"><span>RD</span>podcasting<img src="~/Imagens/play.png" alt=""></a>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                            <nav class="main_nav">
                                <ul class="d-flex flex-row align-items-start justify-content-start">
                                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                                    <li><a href="@Url.Action("Sobre","Home")">Sobre</a></li>
                                    <li><a href="episodes.html">Episódios</a></li>
                                    <li><a href="https://desacocheioemauhumor.blog" target="_blank">Blog</a></li>
                                    <li><a href="contact.html">Contatos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Submit & Social -->
            <div class="header_right d-flex flex-row align-items-start justify-content-start">

                <!-- Submit
                    <div class="submit"><a href="#">Enviar Podcast</a></div>-->
                <!-- Social -->
                <div class="social">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li><a href="https://www.facebook.com/remediosdemais/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/rdpodcasting/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="https://soundcloud.com/desacocheioemauhumor"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.megafono.host/podcast/remedios-demais"><i class="fa fa-feed" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <!-- Hamburger -->
                <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

            </div>
        </header>
    </div>


    @RenderBody()

    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row footer_logo_row">
                <div class="col d-flex flex-row align-items-center justify-content-center">
                    <div class="logo">
                        <a href="#"><span>Remédios demais</span>podcasting<img src="~/Imagens/play.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="row footer_content_row">

                <!-- Tags -->
                <div class="col-lg-4">
                    <div class="footer_title">Tags</div>
                    <div class="footer_list">
                        <div><div><a href="#">ansiedade</a></div></div>
                        <div><div><a href="#">TOC</a></div></div>
                        <div><div><a href="#">insônia </a></div></div>
                        <div><div><a href="#">autismo</a></div></div>
                        <div><div><a href="#">psicanalise</a></div></div>
                        <div><div><a href="#">depressão</a></div></div>
                        <div><div><a href="#">adicção</a></div></div>
                        <div><div><a href="#">transtorno bipolar</a></div></div>
                        <div><div><a href="#">Recaídas</a></div></div>
                        <div><div><a href="#">Tiques Nervosos</a></div></div>
                        <div><div><a href="#">Pensamentos Suicidas</a></div></div>
                        <div><div><a href="#">Síndrome do Pânico</a></div></div>
                    </div>
                </div>

                <!-- Últimos episódios -->
                <div class="col-lg-4">
                    <div class="footer_title"></div>
                    <div class="latest_container">



                    </div>
                </div>

                <!-- Gallery -->
                <div class="col-lg-4">
                    <div class="footer_title">Instagram</div>
                    <div class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap">

                        <!-- Gallery Item -->
                        <div class="gallery_item">
                            <a class="colorbox" href="~/Imagens/banner01.png"><img src="~/Imagens/banner01.png" alt=""></a>
                        </div>

                        <!-- Gallery Item -->
                        <div class="gallery_item">
                            <a class="colorbox" href="~/Imagens/banner02.jpg"><img src="~/Imagens/banner02.jpg" alt=""></a>
                        </div>

                        <!-- Gallery Item -->
                        <div class="gallery_item">
                            <a class="colorbox" href="~/Imagens/banner04.png"><img src="~/Imagens/banner04.png" alt=""></a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row footer_social_row">
                <div class="col">
                    <div class="footer_social">
                        <ul class="d-flex flex-row align-items-center justify-content-center">
                            <li><a href="https://www.facebook.com/remediosdemais/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/rdpodcasting/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://soundcloud.com/desacocheioemauhumor" target="_blank"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.megafono.host/podcast/remedios-demais" target="_blank"><i class="fa fa-feed" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            </br></br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> uma produção <a href="https://desacocheioemauhumor.blog" target="_blank">De Saco Cheio e Mau Humor</a> | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/TweenMax.min.js"></script>
    <script src="~/Scripts/TimelineMax.min.js"></script>
    <script src="~/Scripts/ScrollMagic.min.js"></script>
    <script src="~/Scripts/animation.gsap.min.js"></script>
    <script src="~/Scripts/ScrollToPlugin.min.js"></script>
    <script src="~/Scripts/easing.js.js"></script>
    <script src="~/Scripts/jquery.colorbox-min.js"></script>
    <script src="~/Scripts/progressbar.min.js"></script>
    <script src="~/Scripts/parallax.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/about.js"></script>
</body>
</html>
