@{int contador = 1; }
<div class="row">
    @foreach (var n in ViewBag.ListaNoticias)
    {
        var imgrss = "../Imagens/covid0"+@contador.ToString()+".jpg";

        <div class="col-sm-4">
            <div class="card card-topo card bg-light mb-3 border-dark">
                <img class="card-img-top" src="@imgrss" alt="Card imagem notícias">
                <div class="card-body">
                    <h5 class="card-title text-black text-justify" id="titulo-card">@n.title</h5>
                    <p class="card-text text-black-50">@n.pubDate</p>
                </div>
                <ul class="list-group list-group-flush text-black">
                    <li class="list-group-item" id="item-lista">@n.category</li>
                </ul>
                <div class="card-body">
                    <a href="@n.link" class="card-link text-black text-center" target="_blank">Abrir notícia</a>
                </div>
            </div>
        </div>
        contador++;
    }
</div>

   