
@{
    ViewBag.Title = "Covid19";
    Layout = null;
}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link href="~/Content/Covid.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-monospace">Progresso do <b class="font-weight-bolder">CORONAVÍRUS</b> no Brasil</h1>


                @if (ViewBag.CovidData != null)
                {
                    <div class="table-responsive">
                        <table class="table table-dark text-center">
                            <caption data-toggle="tooltip" data-placement="right" data-html="true" title="<em>Atualizado conforme os </em> <u>dados</u> <b>oficiais</b>">
                                Última atualização: @ViewBag.CovidData.Last_Update
                            </caption>
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Casos confirmados</th>
                                    <th scope="col">Infectados em tratamento</th>
                                    <th scope="col">Mortos</th>
                                    <th scope="col">Infectados curados</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td data-toggle="tooltip" data-placement="right" data-html="true" title="<em>Cada pessoa infectada tem </em> <u>estimativa</u> de infectar <b>de 1 à 3 pessoas</b>, estamos falando em um total de 
                                        @{
                                        
                                          var resultado = int.Parse(ViewBag.CovidData.Confirmed) * 3;
                                            @resultado.ToString();
                                        } casos, se as pessoas não ficarem em quarentena.">
                                    @ViewBag.CovidData.Confirmed</td>
                                    <td data-toggle="tooltip" data-placement="right" data-html="true" title="<em>Às pessoas costumam ficar </em> <u>doentes</u> em um periodo de <b>14 à 21 dias.</b>">> @ViewBag.CovidData.Active</td>
                                    <td> @ViewBag.CovidData.Deaths</td>
                                    <td>@ViewBag.CovidData.Recovered</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                }
                else
                {
                    <h3>Houve algum problema, tente novamente em alguns minutos.</h3>
                }
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div id="donutchart_day" style="border: 1px solid #ccc"></div>
            </div>
            <div class="col">
                <div id="myPieChart" style="border: 1px solid #ccc"></div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div id="GraficoDeDias" style="border: 1px solid #ccc"></div>
            </div>
            <div class="col">
                <div id="GraficoDeMeses" style="border: 1px solid #ccc"></div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <footer class="blockquote-footer">
                <blockquote class="blockquote text-center">
                    Os dados utilizados nessa <strong>análise</strong> são mantidos e operados, pelo <mark>Centro de Ciência e Engenharia da Universidade Johns Hopkins (JHU CSSE)</mark>. Além disso, com o apoio da <u>ESRI Living Atlas Team</u> e do <u>Laboratório de Física Aplicada da Johns Hopkins University (JHU APL)</u>.
                </blockquote>
                <p class="text-center"><strong>Copyright © @DateTime.Now.Year - <a href="@Url.Action("Index","Home")">Remédios Demais Podcast</a>.</strong> All rights reserved.</p>
            </footer>
        </div>
    </div>

    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script async src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script async src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
@*<script async src="https://code.jquery.com/jquery-git.min.js"></script>*@
<script async>
        $(document).ready(function () {
            google.charts.load('current', { packages: ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            google.charts.setOnLoadCallback(drawChartDonout);

            function drawChart() {
                // Define the chart to be drawn.
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Element');
                data.addColumn('number', 'Percentage');
                data.addRows([
                    ['Aumento de Infectados em tratamento',@ViewBag.CovidMesAtual.InfectadosEmTratamento - @ViewBag.CovidMesAnterior.InfectadosEmTratamento],
                    ['Aumento de Mortos', @ViewBag.CovidMesAtual.Mortos - @ViewBag.CovidMesAnterior.Mortos],
                    ['Aumento de Infectados curados', @ViewBag.CovidMesAtual.InfectadosCurados - @ViewBag.CovidMesAnterior.InfectadosCurados]
                ]);

                var options = {
                    'legend': 'left',
                    'title': 'Aumento de casos de COVID-19 em relação ao mês anterior no Brasil',
                    'is3D': true,
                    'width': 400,
                    'height': 200
                }

                // Instantiate and draw the chart.
                var chart = new google.visualization.PieChart(document.getElementById('myPieChart'));
                chart.draw(data, options);
            }

            function drawChartDonout() {
                var data = google.visualization.arrayToDataTable([
                    ['Legendas', 'Casos'],
                    ['Infectados em tratamento', @ViewBag.CovidMesAtual.InfectadosEmTratamento],
                    ['Mortos', @ViewBag.CovidMesAtual.Mortos],
                    ['Infectados curados', @ViewBag.CovidMesAtual.InfectadosCurados]
                ]);

                var options = {
                    title: 'Casos somente nesse mês',
                    pieHole: 0.2,
                    width: 400,
                    height: 200,
                    legend: { position: 'left' }
                };

                var chart = new google.visualization.PieChart(document.getElementById('donutchart_day'));
                chart.draw(data, options);
            }

        });
</script>

<script async>
    google.charts.load('current', { packages: ['line'] });
    // Set a callback to run when the Google Visualization API is loaded.
    $(document).ready(function () {
        $.ajax(
            {
                type: 'GET',
                dataType: 'JSON',
                url: '/Home/GetDataGraficoDias',
                success:
                    function (response) {


                        // Draw.
                        drawGraph(response, 'linechart_material');
                    }
            });
    });

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawGraph(ListaCovidData) {

        // Set chart options
        var options = {
            chart: {
                title: 'Progresso por dia, sobre os casos de COVID-19',
                subtitle: 'Somente no Brasil',
                curveType: 'function'
            },
            width: 600,
            height: 400,
            series: {
                // Gives each series an axis name that matches the Y-axis below.
                0: { axis: 'Temps' },
                1: { axis: 'Temps' },
                2: { axis: 'Temps' }
            },
            axes: {
                // Adds labels to each axis; they don't have to match the axis names.
                y: {
                    Temps: { label: 'Quantidade (Infectados)' },
                },
                x: {
                    0: { side: 'bottom' }
                }
            }
        };
        var elementId = 'GraficoDeDias';

        // Initialization.
        var data = new google.visualization.DataTable();

        // Setting.
        data.addColumn('number', 'dias');
        data.addColumn('number', 'Casos confirmados');
        //data.addColumn('number', 'Infectados em tratamento');
        data.addColumn('number', 'Mortos');
        data.addColumn('number', 'Infectados curados');

        // Processing.
        for (var i = 0; i < ListaCovidData.ListaDias.length; i++) {
            // Setting.
            data.addRow([ListaCovidData.ListaDias[i].Dia,
            ListaCovidData.ListaDias[i].CasosConfirmados,
            // ListaCovidData.ListaDias[i].InfectadosEmTratamento,
            ListaCovidData.ListaDias[i].Mortos,
            ListaCovidData.ListaDias[i].InfectadosCurados]);
        }

        // Setting label.
        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2,
            {
                calc: "stringify",
                sourceColumn: 2,
                type: "string",
                role: "annotation"
            }
        ]);

        var chart = new google.charts.Line(document.getElementById(elementId));

        chart.draw(data, google.charts.Line.convertOptions(options));


        var elementIdMensal = 'GraficoDeMeses';
        // Set chart options
        var optionsMensal = {
            chart: {
                title: 'Progresso por meses, sobre os casos de COVID-19',
                subtitle: 'Somente no Brasil',
                curveType: 'function'
            },
            width: 600,
            height: 400,
            series: {
                // Gives each series an axis name that matches the Y-axis below.
                0: { axis: 'Temps' },
                1: { axis: 'Temps' },
                2: { axis: 'Temps' }
            },
            axes: {
                // Adds labels to each axis; they don't have to match the axis names.
                y: {
                    Temps: { label: 'Quantidade (Infectados)' },
                },
                x: {
                    0: { side: 'bottom' }
                }
            }
        };

        // Initialization.
        var dataMensal = new google.visualization.DataTable();

        // Setting.
        dataMensal.addColumn('string', 'Meses');
        dataMensal.addColumn('number', 'Casos confirmados');
        //data.addColumn('number', 'Infectados em tratamento');
        dataMensal.addColumn('number', 'Mortos');
        dataMensal.addColumn('number', 'Infectados curados');

        // Processing.
        for (var i = 0; i < ListaCovidData.ListaMes.length; i++) {
            // Setting.
            dataMensal.addRow([ListaCovidData.ListaMes[i].Mes,
            ListaCovidData.ListaMes[i].CasosConfirmados,
            // ListaCovidData.ListaDias[i].InfectadosEmTratamento,
            ListaCovidData.ListaMes[i].Mortos,
            ListaCovidData.ListaMes[i].InfectadosCurados]);
        }

        // Setting label.
        var viewMensal = new google.visualization.DataView(dataMensal);
        viewMensal.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2,
            {
                calc: "stringify",
                sourceColumn: 2,
                type: "string",
                role: "annotation"
            }
        ]);

        var chartMensal = new google.charts.Line(document.getElementById(elementIdMensal));

        chartMensal.draw(dataMensal, google.charts.Line.convertOptions(optionsMensal));
    }
</script>
<script async>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>







